<h1>Profile</h1>
<label class= "bold h4">First Name: </label> <%= @user.first_name %> <br>
<label class= "bold h4">Last name: </label><%= @user.last_name %><br>
<label class= "bold h4">Email: </label><%= @user.email %><br>
<label class= "bold h4">Bio: </label><%= @user.bio %>